<%- include ("../partials/header"); -%>
<%- include ("../partials/navBar"); -%>

<div class="mainDisplay">
   <% animals.forEach(element => {  %>
      <div class="animal">
         <h1 class="name">
            <%= element.name %>
         </h1>
         <p class="description">
            <%= element.description %>
         </p>
         <img src="/imags/animals/<%=element.image %>" alt="">
         <form action="/animal" method="post">
            <input type="text" name="animalId" value="<%=element.id %>" class="input">
            <button type="submit" class="link" name="more"> more details</button>
         </form>
      </div>
     
  <%  }) %> 
</div>


<%- include ("../partials/footer"); -%>